@model IEnumerable<ProductViewModel>


<h1>ViewModel List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pro in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => pro.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pro.Price)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => pro.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pro.InventoryValue)
                </td>
                
            </tr>
        }

    </tbody>
</table>
